body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 50px 0;
}

button {
    background-color: #89CFF0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #800000;
}

ul {
    list-style-type: none;
}

